# Ambientes virtuais
venv/
env/
.venv/

# Variaveis de ambiente secretas
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MacOS
.DS_Store

# Bancos de Dados Locais e Arquivos Pesados
chroma_db/
